/*CSS Style Sheet*/


/*change font color*/


body {color:mediumvioletred;}

        nav {
            background-color: #00FFFF;
            padding: 15px;
            text-align: center; 
            /* Centers the links */
        }

        nav a {
            color:#FF00FF;
            text-decoration: none;
            margin-right: 20px;
            font-family: cursive;
            font-size: 25px;
            transition: 0.3s;
        }


nav {
    display: flex;
    justify-content: center;
    gap: 160px; /* Changes distance between links */
}

        nav a:hover {
            color: #00bfff;
        }
    
/*change font size*/
p{font-size: 30px;}

/*change font type*/

h1, h2 {font-family:cursive; font-size:50px}

body {
    background-color: #FFE3E6; /* Change this to any color */
    margin: 0;
    padding: 0;
    height: 100%;}


